{% extends "base.html" %} {% block titulo %} Peticiones de amistad {%
endblock %} {% block contenido_principal %}
<h2>Amistades</h2>

<div class="table-responsive">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nombre</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			{% for amigo in amigos %}
			<tr>
				<td>{{ amigo.usuarioB }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class="row text-center">
	<ul class="pagination">
		<!-- Primera -->
		<li class="page-item"><a class="page-link"
			href="/invitaciones?pg=1">Primera</a></li>

		<!-- Anterior (si la hay ) -->
		{% if pgActual-1 >= 1 %}
		<li class="page-item"><a class="page-link"
			href="/invitaciones?pg={{ pgActual -1 }}">{{ pgActual -1 }}</a></li> {%
		endif %}

		<!-- Actual -->
		<li class="page-item active"><a class="page-link"
			href="/invitaciones?pg={{ pgActual }}">{{ pgActual }}</a></li>

		<!-- Siguiente (si la hay) -->
		{% if pgActual+1 <= pgUltima %}
		<li class="page-item"><a class="page-link"
			href="/invitaciones?pg={{ pgActual+1 }}">{{ pgActual+1 }}</a></li> {%
		endif %}

		<!-- Última -->
		<li class="page-item"><a class="page-link"
			href="/invitaciones?pg={{ pgUltima }}">Última</a></li>
	</ul>
</div>
{% endblock %}
